@charset "UTF-8";
/* CSS Doc */

#content {
    color: darkslategray;
    background-color: ghostwhite;
    font-family: 'Noto Serif', serif;
	height:100%;
	width: 100%;
	min-height: 500px;
	display:block;
	position:absolute;
	top: 0;
    left: 0;
    
}
#toppanel h1 {
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
	margin: 20px 0px 0 0;
	text-decoration: none;
	font: 60px Noto-Serif, serif;
}

#toppanel #nav {
    font-family: 'Noto Serif', serif;
    color: darkslategray;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	text-align:right;
	letter-spacing: 2px;
	font-weight: bold;
	margin-top: 8px;
	float: right;
}

#toppanel #nav a {
    color: darkslategray;
	text-decoration: none;
}

#toppanel #nav a:hover {
	color: #999;
	text-decoration: none;
}

/*--- content panel ---*/
#contentpanel {
    vertical-align: middle;
	margin: 50px auto 0 auto;
	width: 800px;
	color: darkslategray;
}

#contentpanel #date {
	font-family: Gill Sans, Verdana;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	margin-top: 8px;
	color: #ddd;
}

#contentpanel #note {
	font-family: Gill Sans, Verdana;
	font-size: 9px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: bold;
	margin-top: 8px;
	color: #ddd;
}

#contentpanel a {
	text-decoration: none;
}

#contentpanel a:hover {
	color: #999;
	text-decoration: none;
}

#contentpanel li {
	font-size: 28px;
	text-align: left;
	list-style: none;
	margin-top: 25px;
}

#contentpanel li:not(:first-child) {
	margin-top: 60px;
}

#contentpanel b {
	color: #999;
}

/*--- left panel ---*/
#leftpanel {
    font-family: 'Noto Serif', serif;
    background-color: ghostwhite;
    color: darkslategray;
	display: table-cell;
    vertical-align: middle;
	float: left;
	height: 100%;
	width: 50%;
}

#leftpanel h1 {
	text-decoration: none;
	font-size: 80px;
	text-align: right;
	margin: 180px 10px 0 0;
}
#leftpanel h2 {
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	text-align:right;
	letter-spacing: 2px;
	font-weight: bold;
	margin-top: 8px;
	color: darkslategray;
	float: right;
	margin: 15px 10px 0 0;
}

/*--- right panel ---*/
#rightpanel {
    background-color: ghostwhite;
    color: darkslategray;
	float: left;
	height: 100%;
	width: 50%;
}

#rightpanel a {
    color: black;
	text-decoration: none;
}

#rightpanel a:hover {
	color: #999;
	text-decoration: none;
}

#rightpanel ul {
	margin: 210px 0 0 10px;
}

#rightpanel li {
	font: 28px 'Noto Serif', serif;
	text-align: left;
	list-style: none;
	padding-bottom: 10px;
	color: #222;
}

/*-- space --*/
#space {
	min-height:50px;
}

.placehold{
    font-family: 'Noto Serif', serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: darkslategray;
    background-color: ghostwhite;
}

.test{
    font-family: 'Noto Serif', serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: darkslategray;
    background-color: ghostwhite;
}

