html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

.placehold{
    font-family: 'Noto Serif', serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: darkslategray;
    background-color: ghostwhite;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: skyblue;
  }
  
  /* mouse over link */
  a:hover {
    color: maroon;
  }


#header {
  font-family: 'Noto Serif', serif;
  color: darkslategray;
  background-color: ghostwhite;
  padding-top: 40px;
  padding-bottom: 40px;  
}

.wrapper{
  max-width: 980px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row; 
}

.intro{
  width: 40%;

}

.contact{
  padding-left: 10%;
}

.content{
  font-family: 'Noto Serif', serif;
  color: darkslategray;
  background-color: #e0e7e4;
  text-align: center;
  padding: auto;
  margin: 0 auto;
}